@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, h1 {
    transition: background-color .2s ease-out;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.on {
    background-color: rgb(106, 255, 103);
}

.off {
    background-color: rgb(255, 103, 103);
}

h1 {
    white-space: nowrap;
    padding: 10px 25px;
    background-color: rgb(0, 0, 0, 0.1) !important;
    color: rgb(0, 0, 0, 0.6);
}

.toggle {
    position: relative;
    border: 5px solid white;
    outline: none;
    width: 50px;
    height: 25px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
}

span {
    position: absolute;
    top: 0;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50px;
    transition: all 0.1s ease-out;
}

.github {
    white-space: nowrap;
    padding: 10px 25px;
    background-color: rgb(0, 0, 0, 0.1) !important;
    color: rgb(0, 0, 0, 0.6);
    width: 100%;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
}

.github:hover {
    background-color: rgb(0, 0, 0, 0.2);
}